{# TODO clean PATH #}
{% set tagdata = [
    {'title': 'coronavirus','id': '1'},
    {'title': 'cours de la bourse','id': '2'},
    {'title': 'football','id': '3'},
    {'title': 'judo','id': '4'},
    {'title': 'musique','id': '5'},
] %}

{% extends 'layouts/admin/managers/manager-list.html.twig' %}
{% block admin_content %}
    <h1>Liste des TAG </h1>

    <span><a href="tag/create/12">Create</a></span>

    <ul>
        {#        @need --> page id / page title #}
        {% for tag in tagdata %}
            <li class="col-4">
                <span>{{ tag.title }}</span>
                <a href="tag/update/{{ tag.id }}">Update</a>
                <a href="tag/{{ tag.id }}">Read</a>
                <a href="tag/delete/{{ tag.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
