{% extends 'layouts/base.html.twig' %}

{% block content %}
    {%  include 'partials/admin/header.html.twig' %}
    {%  include 'partials/admin/menu.html.twig' %}
    <div class="admin-container">
        {% block admin_content %}


        {% endblock %}
    </div>
{% endblock %}
