{% extends 'layouts/admin/managers/manager-list.html.twig' %}
{% block admin_content %}
    <h1>Welcome home admin manager list override on page template  !!!!</h1>

    <span> additional content </span>
{% endblock %}
