{% extends 'layouts/admin/managers/manager-read.html.twig' %}

{% block admin_title_page %}
    <h1>Page #{{ page.id }}</h1>
{% endblock %}
{% block admin_content %}
    {# @TODO: display info of current page (use page variable already set in this template) #}
{% endblock %}