{% extends 'layouts/admin/managers/manager-update.html.twig' %}

{% block namespace %}admin.manager.pages.update{% endblock %}

{% block admin_title_page %}
    <h1>Modifier une page</h1>
{% endblock %}

{% block form_container %}
    {{ form(form) }}
{% endblock %}