{% extends 'layouts/visitor/base-visitor.html.twig' %}

{% block namespace %}visitor.categories.list{% endblock %}

{% block visitor_content %}
<h2 class="mb-4">List of Categories :</h2>

<ul>
    {% for category in categories %}
        <li class="col-4">
            <a href="{{ path('visitor.categories.read', {'id': category.id}) }}"><span >{{ category.name }}</span></a>
        </li>
    {% endfor %}
</ul>
{%endblock %}
