{% set postdata = [
    {'title': 'post 1','id': '1'},
    {'title': 'post 2','id': '2'},
    {'title': 'post 3','id': '3'},
    {'title': 'post 4','id': '4'},
    {'title': 'post 5','id': '5'},
] %}

{% extends 'layouts/visitor/base-visitor.html.twig' %}

{% block visitor_content %}
    display category's post :
    <ul>
        {#            @need --> page id / page title#}
        {% for post in postdata %}
            <li class="col-4">
                <a href="/post/{{ post.id }}"><span >{{ post.title }}</span></a>
            </li>
        {% endfor %}
    </ul>
{%endblock %}
