{% extends 'layouts/visitor/base-visitor.html.twig' %}

{% block namespace %}visitor.categories.read{% endblock %}

{% block visitor_content %}
    <h2 class="mb-4">Liste des articles de la catégorie {{ category.name }}</h2>

    <div class="row">
        {% for page in category.pages %}
            {% include 'components/post_card.html.twig' with {'page': page} %}
        {% endfor %}
    </div>
{%endblock %}
