{% extends 'layouts/admin/base-admin.html.twig' %}

{% block admin_title_page %}{% endblock %}
{% block admin_content %}
    {# Table container #}
    <div class="container">
        {% block form_container %}{% endblock %}
    </div>
{% endblock %}