
{#{% block okk %}#}
{#    <div> bonjour</div>#}
{#{% endblock %}#}
{% extends 'pages/admin/home.html.twig' %}
{% block admin_content %}
    <h1>Welcome home admin manager list !!!!</h1>


{% endblock %}
