{% extends 'layouts/visitor/base-visitor.html.twig' %}

{% block namespace %}visitor.posts.read{% endblock %}

{% block visitor_content %}

    <h1>{{ post.title }}</h1>

    <div>
        {{ post.content|raw }}
    </div>
{%endblock %}
