{% set postdata = [
    {'title': 'coronavirus','id': '1'},
    {'title': 'cours de la bourse','id': '2'},
    {'title': 'football','id': '3'},
    {'title': 'judo','id': '4'},
    {'title': 'musique','id': '5'},
] %}

{% extends 'layouts/visitor/base-visitor.html.twig' %}

{% block visitor_content %}
    List of Posts :
    <ul>
        {#            @need --> page id / page title#}
        {% for post in postdata %}
            <li class="col-4">
                <a href="post/{{ post.id }}"><span >{{ post.title }}</span></a>
            </li>
        {% endfor %}
    </ul>
{%endblock %}
