{% extends 'layouts/visitor/base-visitor.html.twig' %}

{% block namespace %}visitor.posts.list{% endblock %}

{% block visitor_content %}
    <h2 class="mb-4">Liste de tous les articles</h2>
    <div class="row">
        {% for page in pages %}
            {% include 'components/post_card.html.twig' with {'page': page} %}
        {% endfor %}
    </div>

    {{ knp_pagination_render(pages) }}
{% endblock %}
