
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
    <a class="navbar-brand" href="{{ path('visitor.home') }}">< Revenir au site</a>

    <div>
        <span class="">Bienvenue <strong>{{ app.user.name }}</strong></span>
        <img class="ml-2" style="width: 40px; height: 40px" src="{{ asset('/images/uploads/users/' ~ app.user.avatar) }}" alt="">
        <a class="ml-4 text-danger" href="{{ path('logout') }}">Se déconnecter</a>
    </div>
</nav>
