{% set menudata = [
    {'name': 'Home','url': path('admin.home')},
    {'name': 'Page','url': path('admin.manager.pages.home')},
    {'name': 'Category','url': path('admin.manager.categories.home')},
    {'name': 'Tag','url': path('admin.manager.tags.home')},
    {'name': 'User','url': path('admin.manager.users.home')},
    ]
%}

<aside class="col-3 col-md-2 p-0 bg-dark">
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
        <div class="collapse navbar-collapse">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                {% for item in menudata %}
                <li class="nav-item">
                    <a class="nav-link pl-0" href="{{ item.url }}">{{ item.name }}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </nav>
</aside>
