{% set menudata = ["Home", "page","Category","Tag","User"] %}

<aside class="col-3 col-md-2 p-0 bg-dark">
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
        <div class="collapse navbar-collapse">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                {% for item in menudata %}
                <li class="nav-item">
                    <a class="nav-link pl-0" href="{{ item }}">{{ item }}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </nav>
</aside>
