{% extends 'layouts/visitor/base-visitor.html.twig' %}

{% block namespace %}visitor.home{% endblock %}

{% block visitor_content %}
    <h1>Accueil</h1>

    <p class="visitor-description mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </p>

    <h2 class="mb-4">Categories les plus populaires</h2>
    {% for category in categories %}
        <div>
            <h3 class="text-info">{{ category.name }}</h3>
            <div class="row">
                {% for page in category.pages|slice(0,4) %}
                    {% include 'components/post_card.html.twig' with {'page': page} %}
                {% endfor %}
            </div>
        </div>
        <hr class="mb-4">
    {% endfor %}

{% endblock %}
