{% extends 'layouts/base.html.twig' %}
 {% block content %}
     {%  include 'partials/admin/header.html.twig' %}

     <a href="/admin/category">go back</a>
     <h1>catt 1 content</h1>
 {% endblock %}
