{% set pagenumber = 30%}
{% set categorynumber = 12%}
{% set articles =[ {'title': 'Augmentation du prix du gasoil','imgPath': '/admin'},
    {'title': 'Information coronavirus','imgPath': '/admin'},
    {'title': 'Home','imgPath': '/admin'},
] %}

{% extends 'layouts/admin/base-admin.html.twig' %}

{% block namespace %}admin-home{% endblock %}

{% block admin_content %}

{#    TODO --> add UI and make better structure#}
{#    @need --> last articles --> title & image path#}
    <h1>Nombre de pages  : {{ countPages }} </h1>
    <h1>Nombre de categories  : {{ countCategories }} </h1>
    <span> Derniers articles posté:</span>
    <ul class="articlelist">
        {% for lastPage in lastPages %}
        <li class="articlelist-item col-4">
            <span class="articlelist-item--title">{{ lastPage.title }}</span>
            <div class="articlelist-item--image">
                <img src="{{ vich_uploader_asset(lastPage, 'thumbnailFile') }}" alt="">
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
